
body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-items: center;
    align-items: center;
    background-color: lightgrey;
}

#wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#optionsWrapper{
    height: 15%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#grid {
    width: 80vmin; 
    height: 80vmin;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    box-shadow: 0px 0px 30px;
}

.box{
    background-color: rgba(255, 255, 255, 1);
}

button{
    width: 10%;
    color: white;
    font-size: 13px;
}

#reset{
    width: 40%;
    margin-right: 10%;
    color: black;
}

#nBoxes{
    width: 30%;
    margin-left: 10%;
}

#optionsWrapper p{
    height: 30%;
    width: 100%;
    text-align: center;
}